{% extends "vendor/caweb/phpdoc/index.html.twig" %}
{% import "vendor/caweb/phpdoc/macros.twig" as macros %}

{% block head %}
<title>CAWeb Theme Actions/Filters</title>

{% endblock head %}

{% block introduction %}
<h1>CAWeb Actions/Filters</h1>
<p>This list should be viewed as a guide line or approximation of CAWeb Theme actions/filters.</p>

{% endblock introduction %}

{% block table_of_contents %}
{{ macros.wordpress_hooks('', true) }}

{{ macros.wordpress_hooks('', true, 'filter') }}

{% endblock table_of_contents %}

{% block body %}
{% endblock body %}
