{% extends "layout.html.twig" %}
{% import "macros.twig" as macros %}

{% block head %}
<title>CAWeb Theme Actions/Filters</title>

{% endblock head %}

{% block introduction %}
<h1>CAWeb Actions/Filters</h1>
<p>This list should be viewed as a guide line or approximation of CAWeb Theme actions/filters.</p>

{% endblock introduction %}

{% block table_of_contents %}
    {% set functions = [] %}
    
    {# iterate thru all project files #}
    {% for obj in project.files %}
        {# iterate thru all file functions #}
        {% for f in obj.functions|sort_asc %}
            {# Save function information #}
            {% set functions = functions|merge([f]) %}
        {% endfor %}

        {# iterate thru classes in the file  #}
        {% for class in obj.classes %}
            {# iterate thru class methods #}
            {% for c in class.methods|sort_asc %}
                {# Save function information #}
                {% set functions = functions|merge([c]) %}
            {% endfor %}
        {% endfor %}    
    {% endfor %}

    {# List any Action Hooks #}
    <h2 id="actions">Actions</h2>
    {% for function in functions %}
        {# iterate thru function tags, if function has category tag reference save it #}
        {% for tag_name,tags in function.tags %}
            {% if tag_name in ['category']  %}
                {% set h = tags.0.description %}

                {# get all hooks in category #}
                {% set hooks = '{' == h|first ? h|slice(1, h|length - 2 )|trim|split('\n') : h|split('\n') %}

                {% for entry in hooks %}
                    {% if "add_action" == entry|slice(0,10)  %}
                        {{ include('inc/wp-hooks.html') }}
                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}
    {% endfor %}

    <h2 id="filters">Filters</h2>
    {% for function in functions %}
        {# iterate thru function tags, if function has category tag reference save it #}
        {% for tag_name,tags in function.tags %}
            {% if tag_name in ['category']  %}
                {% set h = tags.0.description %}

                {# get all hooks in category #}
                {% set hooks = '{' == h|first ? h|slice(1, h|length - 2 )|trim|split('\n') : h|split('\n') %}

                {% for entry in hooks %}
                    {% if "add_filter" == entry|slice(0,10)  %}
                        {{ include('inc/wp-hooks.html') }}
                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock table_of_contents %}

{% block body %}
{% endblock body %}
