{% extends "layout.html.twig" %}

{% block head %}
<title>{{ project.name }} Documentation</title>
{% endblock head %}

{% block introduction %}

{% endblock introduction %}

{% block table_of_contents %}
{% endblock table_of_contents %}

{% block body %}
<div class="offset-quarter">
            
</div>
{% endblock body %}