{% block card %}
{% set layout = layout is not null ? layout : 'default' %}

<div class="card card-{{ layout }}">
    {% if card_image_src is not empty %}
        <img class="card-img-top img-responsive" src="{{ card_image_src }}" alt="{{ card_image_alt_text is not empty ? card_image_alt_text : '' }}">
    {% endif %}

    {% if card_header_text is not empty %}
	<div class="card-header">
        <h3 class="card-title pb-0 mb-0 border-bottom-0">{{ card_header_text }}</h3>
    </div>
    {% endif %}
    
    {% if card_content is not empty %}
    <div class="card-block">
        {{ card_content }}
        <a href="#" class="btn btn-default" target="_blank">Learn More</a>
    </div>
    {% endif %}
    
    {% if card_footer_text is not empty %}
    <div class="card-footer">{{ card_footer_text }}</div>
    {% endif %}
</div> 
{% endblock card %}
