{% import "vendor/caweb/phpdoc/macros.twig" as macros %}
{% set __obj = node.methods is not empty ? node.functions|merge(node.methods) : node.functions %}
{% if __obj|length > 0 %}
<div>
    <h2 id="functions">Functions</h2>
    {% for o in __obj %}
    <div id="function-{{ o.name }}" class="mb-3{% if not loop.last %} border-bottom border-info{% endif %}">
        <div>
            <div class="pull-right">{{ macros.github_file_link(o) }}</div>
            <strong class="d-block">{{ o.name }}()</strong>
            <i class="small text-muted">{{ o.summary }}</i>
        </div>
        
        <pre>{{ o.visibility ~ ' ' ~ o.name }}({% for __arg in o.arguments %}{{ __arg.types ? __arg.types|join('|')|replace({'\\': ''})~' ' }}{{ __arg.byReference ? '&' }}${{ __arg.name }}{{ __arg.default ? ' = '~__arg.default }}{% if not loop.last %}, {% endif %}{% endfor %}) {{ o.response.types ? ': '~o.response.types|join('|') }}</pre>
        
        {% if o.arguments|length > 0 %}
        <strong>Parameters</strong>
        {% for __arg in o.arguments %}
        <div>
            <p class="small mb-0">{{ __arg.byReference ? '&' }}${{ __arg.name }} : {{ __arg.types ? __arg.types|join('|')|replace({'\\': ''})~' ' }}</p>
            <p class="small">{{ __arg.description }}</p>
        </div>
        {% endfor %}
        {% endif %}

        {# Tags #}
        {{ include('vendor/caweb/phpdoc/ssi/tags.html', {'__tags': node.tags, '__attr': ['link', 'see']}) }}


        <strong>Return values</strong>
        <p class="small">{{ o.response.types ? o.response.types|join('|') }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}