{% import "vendor/caweb/phpdoc/macros.twig" as macros %}
{% if node.properties|length > 0 %}
<div>
    <h2>Properties</h2>
    {% for property in node.properties|sort_asc %}
    <div id="property_{{ property.name }}" class="border-bottom border-info">
        <div>
            <div class="pull-right">{{ macros.github_file_link(property) }}</div>
            <strong class="d-block">${{ property.name }}</strong>
            <i class="small text-muted">Member Variable</i>
        </div>
        <pre>{{ property.visibility }} {% if property.static %}static {% endif %}{{ property.type|replace({'\\': ''}) }} ${{ property.name }}{% if "" != property.default %} = {{ macros.correct_default(property.default) }}{% else %};{% endif %}</pre>
    </div>
    {% endfor %}
</div>
{% endif %}