
<header id="header" class="global-header fixed">
	{% block header %}

	<div id="skip-to-content"><a href="#main-content">Skip to Main Content</a></div>

	{# Alerts #}
    {{ include('inc/alerts.html') }}

	{# Utility Header #}
    {{ include('inc/utility-header.html') }}

	{# Settings Bar #}
    {{ include('inc/settings-bar.html') }}

	{# Settings Bar #}
    {{ include('inc/branding.html') }}

	{# Mobile Controls #}
    {{ include('inc/mobile-controls.html') }}

	<div class="navigation-search">

		{# Navigation #}
		{% include 'inc/navigation.html' with {'github_ref': github_ref } %}
		
		<div id="head-search" class="search-container hidden-print" role="region" aria-label="Search Expanded">
		</div>
	</div>
	
	{% endblock header %}
</header>
