{% import "macros.twig" as macros %}
<nav id="navigation" class="main-navigation megadropdown hidden-print nav">
    <ul id="nav_list" class="top-level-nav">

        {% if project.settings.custom.nav_menu is not null %}
        {% for nav_item in project.settings.custom.nav_menu|split(';') %}
        {% set link_data = nav_item|split('{') %}
        {% set main_link_data = link_data[0]|split(',') %}
        {% set sub_nav_data = link_data|slice(1) %}
            <li class="nav-item" title="{{ main_link_data[0] }}">
                <a class="first-level-link">{% if main_link_data[1] is not empty %}{{ macros.cagov_icon( main_link_data[1], ['font-size-30', 'd-block'] ) }}{% endif %}<span class="link-title">{{ main_link_data[0] }} <span class="ca-gov-icon-triangle-down carrot align-middle" aria-hidden="true"></span></span></a>
            {% for sub_nav in sub_nav_data %}
                {% set nav_data = sub_nav|split(',') %}

                {% if loop.first %}
                <div class="sub-nav">
                    <div class="second-level-nav flex">
                {% endif %}
                        <a href="{{ path('/') ~ nav_data[2] }}" class="second-level-link" title="{{ nav_data[0] }}">
                            {% if nav_data[1] is not empty %}
                                {{ macros.cagov_icon(nav_data[1], ['font-size-40', 'd-block']) }}
                            {% endif %}
                            <p class="h3 sub-nav-link">{{ nav_data[0] }}</p>
                            {% if nav_data[3] is not empty %}
                                <p class="link-description">{{ nav_data[3]|slice(0, nav_data[3]|length - 1) }}</p>
                            {% endif %}
                        </a>
                {% if loop.last %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </li>
        {% endfor %}
        {% endif %}
    </ul>
</nav>