{% import "macros.twig" as macros %}
{% if project.settings.custom.nav_menu is not null %}
    {# Get all top level nav items #}
    {% set top_nav_items = project.settings.custom.nav_menu|split(';') %}
    {% set isDropdown = false %}

    {# determine if menu is singlelevel or dropdown #}
    {% for nav_items in top_nav_items %}
        {% set isDropdown = isDropdown or nav_items|split('{')[1] is not null %}
    {% endfor %}


    <nav id="navigation" class="main-navigation nav hidden-print {{ isDropdown ? 'dropdown' : 'singlelevel' }}">
        <ul id="nav_list" class="top-level-nav">
        {% for nav_items in top_nav_items %}
            {% set top_nav_data = nav_items|split('{')[0]|split(',') %}
            {% set sub_nav_data = nav_items|split('{')|slice(1) %}
            <li class="nav-item">
                <a {{ top_nav_data[1] is not empty ? 'href=' ~ top_nav_data[1]  }} class="first-level-link text-left"><span class="link-title">{{ top_nav_data[0]|trim }}</span></a>

                {% for sub_nav in sub_nav_data %}
                {% set sub_nav_item = sub_nav|split(',') %}

                {% if loop.first %}
                <div class="sub-nav">
                    <div>
                        <ul class="second-level-nav">
                {% endif %}
                            <li class="unit1">
                                <a {{ sub_nav_item[1] is not empty ? 'href=' ~ sub_nav_item[1]  }} class="second-level-link">
                                    {{ sub_nav_item[0] }}
                                    {% if sub_nav_item[2] is not empty %}
                                        <div class="link-description">{{ sub_nav_item[2]|trim('}') }}</div>
                                    {% endif %}
                                </a>
                            </li>
                {% if loop.last %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
    </nav>
{% endif %}